
  
  body {
    background-color: white;
    height: 100%;
    width: 100%;
    background: white;
    }
    
    .title {
      padding-top: 40px;
      text-align: center;
      h1 {
        font-family: "Montserrat";
        color: black;
        font-weight: 600;
        font-size: 60px;
        padding-top: 10px;
        margin: 0;
        line-height: 1;
        padding-bottom: 30%;
        }
        h3  {
          font-weight: 200;
          font-size: 40px;
          font-family: 'Kaushan Script', cursive;
          color: Hotpink;
          padding-top: 10px;
          margin: 0;
          line-height: 1;
          letter-spacing: 2px;
        }
    
    }
    
    .socialwrap {
      display: flex;
      flex-direction: row;
      padding-top: 10%;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      a, .profile {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    
    a:hover .icon-background {
      color: hotpink;
    }
    
      .profile img {
        border-radius: 50%;
        width: 260px;
      }
    
    
    .icon-background {
      color: black;
    }
    